n8n/Overkill_240122.json
{
  "name": "Overkill",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "queue": "messages",
        "options": {
          "jsonParseBody": true,
          "onlyContent": true
        }
      },
      "name": "RabbitMQ Trigger",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "rabbitmq": {
          "id": "1",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://imaginary:9000/smartcrop?height=400&width=400&url=http://minio:9000/overkill/{{$json[\"upload\"]}}",
        "responseFormat": "file",
        "dataPropertyName": "image",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "obi@wan.com",
        "toEmail": "= {{$json[\"user\"]}}",
        "subject": "Hello",
        "text": "Voici ton image\n",
        "attachments": "image",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        940,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 1
}